/*Nav*/
#mainNav {
    background: #000000;
    font-weight: 700;
    border: none;
}

/*Jumbotron*/
body#page-top.index header {
  background: white;
  
}

img-img-responsive {
    display: block;
    max-width: 100%;
    height: auto;
}

.navbar-custom .navbar-nav li a:hover 
a, a.active, a:active, a:focus, a:hover {
    color: #bf0000;
    outline: 0;
}

/*Prayer Timings*/
/*div.span4.prayer {
  font-family: helvetica;
  font-size: 16px;
  color: #000;
  background: rgba(255, 255, 255, 0);
     
}

/*div#myTabContent.tab-content {
  font-family: helvetica;
  font-size: 16px;
  color: #000;
  background: rgba(255, 255, 255, 0);
      margin: 0;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 22px;
    color: #000;
    background-color: #fff;

}
*/

div#myTabContent.tab-content {
  font-family: helvetica;
  font-size: 16px;
}
/*Headings*/
#prayer div div div h2 {
  color: black;
}
#portfolio div div div h2 {
  color: black;
}
#contact div div div h2 {
  color: black;
}
#maps div div div h2 {
  color: black;
}
#events div div div h2 {
  color: black;
}

/*Services*/




/*About Us*/
#page-top section#about.success {
  background: #000000;
  color: #bf0000;
  font: helvetica;
  font-size: 9px;
  line-height: 1.4;
}
#page-top #about div div div h4 {
  background: #000000;
  color: white;
}
#page-top #about div div div p.para {
  background: #000000;
  color: white;
}



hr {
    margin-top: 20px;
    margin-bottom: 20px;
    border: 0;
    border-top: 2px solid #fff;
}

/*Maps*/






/*Footer*/
footer .footer-above {
    padding-top: 50px;
    background-color: #000000;
}
#page-top footer div.footer-above {
    padding-top: 50px;
    background-color: #000000;
}

#page-top footer div.footer-below {
    padding-top: 40px;
    background-color: #bf0000;
}